PORT=5001
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=kallakurichi_cdo

# SMTP Email Configuration for Admin Reset
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=gradixtechnologies@gmail.com
SMTP_PASS=bnhwpewcxaebogoy
EMAIL_FROM="Kallakurichi CDO HQ <gradixtechnologies@gmail.com>"
FRONTEND_URL=http://localhost:5173
